* {
    /* background-color: whitesmoke; */
    font-family: 'Lato', sans-serif;
}

.Foto-perfil {
    width: 50px;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

.mi_titulo {
    background-color: whitesmoke;
    padding-left: 20px;
    background-color: royalblue;
    margin-left: 12px;
    margin-right: 24px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}
#menu {
    background-color: whitesmoke;
    position: fixed;
    top: 1.75rem;
    right: 2rem;
    background-color: blue;
    color: whitesmoke;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    z-index: 27;
    transition: all 0.5s cubic-bezier;
}
#menu .fa-times {
    transform: rotate(-180deg);
}
#navbar {
    display: grid;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    position: fixed;
    background-color: whitesmoke;
    top: 1.7rem;
    right: 2rem;
    border: 0.1rem solid blue;
    padding: 1rem 1.5rem 1rem 1rem;
    border-radius: 1.4rem;
    z-index: 4;
    transform: scale (0);
    opacity: 0;
    transform-origin: top right;
    transition: all 0.8s cubic-bezier;
}
#navbar.navbar-toggle{
    transform: scale(1);
    opacity: 1;
}
#navbar a{
    display: block;
    padding: 0.5rem 7rem 0.5rem 1rem;
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 0.5rem;
} 
#navbar a:hover{
    color: blue;
    background-color: lavender;
    transition: all 1s ease;
}

.tarjetas_de_texto {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    padding: 5px;
    margin: 5px;
}

.tarjetas_de_texto section{
    display: flex;
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    top: 1.2rem;
    right: 2.2rem;
    border: 0.1rem solid blue;
    padding: 5px;
    margin: 5px;
    border-radius: 0.5rem;
}

.Derechos{
    color: whitesmoke;
    background-color: blue
}